<!-- Footer -->
<footer class="main-footer">
  <div class="container">
    <p>&copy; 2025 Success Enterprise Innovations. All rights reserved.</p>
    <div class="social-icons">
      <a href="#">Facebook</a>
      <a href="#">YouTube</a>
      <a href="#">Instagram</a>
      <a href="#">X (Twitter)</a>
      <a href="#">WhatsApp</a>
      <a href="#">KingsChat</a>
      <a href="#">CeFlix</a>
    </div>
  </div>
</footer>

<!-- JavaScript -->
<script src="js/script.js"></script>
</body>
</html>
