<!-- Footer -->
<footer class="main-footer">
  <div class="container">
    <p>&copy; 2025 Success Enterprise Innovations. All rights reserved.</p>
    <div class="social-icons">
      <a href="#">Facebook</a>
      <a href="#">YouTube</a>
      <a href="#">Instagram</a>
      <a href="#">X (Twitter)</a>
      <a href="#">WhatsApp</a>
      <a href="#">KingsChat</a>
      <a href="#">CeFlix</a>
    </div>
  </div>
</footer>

<!-- JavaScript -->
<script src="js/script.js"></script>
</body>
</html>
<div class="social-icons colored-style">
  <a href="https://facebook.com" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="https://youtube.com" target="_blank" class="youtube"><i class="fab fa-youtube"></i></a>
  <a href="https://instagram.com" target="_blank" class="instagram"><i class="fab fa-instagram"></i></a>
  <a href="https://twitter.com" target="_blank" class="twitter"><i class="fab fa-x-twitter"></i></a>
  <a href="https://wa.me/2348124376126" target="_blank" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
</div>
